.faq {
  &--alt {
    .faq {
      &__wrapper {
        @include fluid(margin-top, 85px, 95px);
      }

      &__title {
        @include fluid(font-size, 29px, 50px);
        @include fluid(margin-bottom, 50px, 75px);

        .title__fon {
          @include fluid(font-size, 24px, 42px);
        }
      }

      &__accordion {
        &-item {
          background-color: #EBEDF2;

          &::after,
          &::before {
            content: none;
          }
        }

        &-title {
          color: #07211F
        }

        &-text {
          color: #07211F
        }
      }

      &__box {
        &-text {
          color: #07211F;
        }
      }
    }
  }

  &__wrapper {
    @include fluid(margin-top, 35px, 75px);
    @include fluid(margin-bottom, 53px, 150px);
  }

  &__title {
    @include fluid(margin-bottom, 60px, 131px);
    @include fluid(font-size, 36px, 66px);

    .title__fon {
      @include fluid(font-size, 27px, 55px);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr .4fr;
    @include fluid(gap, 30px, 100px);
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-item {
      position: relative;
      @include fluid(padding, 18px, 25px);
      background-color: #1B1B1B;
      border-radius: 17px;
      cursor: pointer;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 303px;
        height: 95px;
        -webkit-filter: blur(129.64px);
        filter: blur(149.64px);
        background-color: #07f1e0;
        transition: background-color .23s ease-in-out;
      }

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(0%);
        width: 150px;
        height: 220px;
        -webkit-filter: blur(119.64px);
        filter: blur(119.64px);
        background-color: #FF2A6D;
        transition: background-color .23s ease-in-out;
      }

      &.accordion--active {
        &::after {
          background-color: #FF2A6D;
        }

        &::before {
          background-color: #07f1e0;
        }

        .faq__accordion {
          &-icon {
            transform: rotateX(-180deg);
          }

        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @include fluid(font-size, 18px, 23px);
      font-weight: 900;
      line-height: 1.2;
    }

    &-icon {
      transition: transform .23s ease-in-out
    }

    &-text {
      @include fluid(font-size, 13px, 17px);
      font-weight: 300;
      @include fluid(margin-top, 10px, 18px);
      line-height: 1.5;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-text {
      font-weight: 300;
      font-size: 17px;

      span {
        display: block;
        font-weight: 500;
      }
    }
  }
}

@media(max-width:992px) {
  .faq {
    &__inner {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &__box {
      &-text {
        text-align: center;
      }
    }
  }
}